<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css"/>
        <title> Конференция </title>
        <link rel="icon" type="image/x-icon" href="Силаэдр_фон.png">
    </head>
    <body>
        <h1> Расписание </h1>
        
        <script type="text/javascript">
            function setName(id){
                var url = "dikiray.com/project/";
                var http = new XMLHttpRequest();
                http.open("GET", url+id, true);
                http.send(null);
                var response = http.responseText;
                var jsonObject = JSON.parse(response);
                var button = document.getElementById(id);
                button.value = jsonObject.authors+": "+jsonObject.name;
            }
        </script>
        <canvas class="rectangle2" id="myCanvas" style="border:3px solid #000000;"> </canvas>
        <canvas class="rectangle" id="myCanvas" style="border:3px solid #000000;"> </canvas>
       
        <div class="layer">
            <section class="projects__section">
                <div class="projects__list"> 
                    {% for project in projects %}
                            <a href="viewer?id={{project.id}}" class="floating-button projects__item" id={{project.id}}>
                                {{project.id}}
                            </a>
                            <!-- {{project.id}} -->
                            <!-- <div></div> -->
                        <script type="text/javascript">setName({{project.id}});</script>
                    {% endfor %}
                </div>
            </section>
             <script type="text/javascript">
            const projectsListElement = document.querySelector(`.projects__list`);
            const projectElements = projectsListElement.querySelectorAll(`.projects__item`);
            for (const task of projectElements) {
                task.draggable = true;
            }
            projectsListElement.addEventListener(`dragstart`, (evt) => {
                evt.target.classList.add(`selected`);
            })
            projectsListElement.addEventListener(`dragend`, (evt) => {
                evt.target.classList.remove(`selected`);
            });

            const getNextElement = (cursorPosition, currentElement) => {
              // Получаем объект с размерами и координатами
              const currentElementCoord = currentElement.getBoundingClientRect();
              // Находим вертикальную координату центра текущего элемента
              const currentElementCenter = currentElementCoord.y + currentElementCoord.height / 2;

              // Если курсор выше центра элемента, возвращаем текущий элемент
              // В ином случае — следующий DOM-элемент
              const nextElement = (cursorPosition < currentElementCenter) ?
                  currentElement :
                  currentElement.nextElementSibling;

              return nextElement;
            };

            function positionChanged(id, position, new_position){
                var http = new XMLHttpRequest();
                var url = window.location.origin+"change";
                var params = "id="+id+"&position="+position+"&new_position="+new_position;
                http.open('POST', url, true);
                http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                http.send(params);
            }

            projectsListElement.addEventListener(`dragover`, (evt) => {
                  evt.preventDefault();

                  const activeElement = projectsListElement.querySelector(`.selected`);
                  const currentElement = evt.target;
                  const isMoveable = activeElement !== currentElement &&
                    currentElement.classList.contains(`projects__item`);

                  if (!isMoveable) {
                    return;
                  }

                  // evt.clientY — вертикальная координата курсора в момент,
                  // когда сработало событие
                  const nextElement = getNextElement(evt.clientY, currentElement);

                  // Проверяем, нужно ли менять элементы местами
                  if (
                    nextElement && 
                    activeElement === nextElement.previousElementSibling ||
                    activeElement === nextElement
                  ) {
                    // Если нет, выходим из функции, чтобы избежать лишних изменений в DOM
                    return;
                  }
                  console.log(activeElement.parentNode.innerHTML.indexOf(activeElement));
                  // .indexOf(activeElement)
                  console.log(nextElement);
                  console.log()
                  console.log("------------")

                  projectElements[0].parentNode.insertBefore(activeElement, nextElement);
            });



        </script>

            <script type="text/javascript">
                function getAllProjects(){
                    var url = "dikiray.com/projects";
                    var http = new XMLHttpRequest();
                    http.open("GET", url, true);
                    http.send(null);
                    var response = http.responseText;
                    var projects = JSON.parse(response);
                    var datalist = document.getElementById(datalist);
                    for(var i=0; i<projects.length; i++){
                        var tag = document.createElement("option");
                        tag.setAttribute("value", projects[i].authors+": "+projects[i].name);
                        datalist.appendChild(tag);
                    }
                }
                getAllProjects();
            </script>

            <input class="words" placeholder="Введите имя докладчика" list="names" name="names" type="text" id="fnames">
            <datalist id="names">
            </datalist>
            <input class="submit" type="submit" value="Сохранить">
        </div>
        
        
    </body>
</html>